#imgDis {
    width:95%;
    height:150px;
    box-shadow:inset 0 0 0 1px #000;
    overflow:hidden;
    margin-top:15px;
    margin-left:1.5%;
}

#imgDis > img {
    display:inline-block;
    height:150px;
    float:left;
}